<div class="span12">
    <div class="row">
        <div class="span12">
            <h2>Dart Flight School Berlin 2014 <a href="https://plus.google.com/explore/flydart" title="#flydart on Google+">#flydart</a></h2>
            
            <img src="https://googledrive.com/host/0B63FtzFoCw0_d2VVNUZLLWJralU/dart_flight_school_gdg_berlin_event.png">
        </div>
    </div>
    <div class="row">
        <div class="span6">
            <h3>Welcome aboard!</h3>
            <p><strong>Thank you for flying with GDG Berlin into a new era of web development!</strong></p>
            <p>The Dart team at Google worked hard to make Dart ready for any web application, including Games and Offline Apps, and is thrilled to see Flight Schools happening all over the planet. That is why they recorded a special welcome message for us.</p>
            <iframe width="560" height="315" src="//www.youtube-nocookie.com/embed/4Ve7S1As4cw?rel=0" frameborder="0" allowfullscreen style="max-width: 100%"></iframe>
        </div>
        <div class="span6">
            <h3>What is Dart? <a href="https://docs.google.com/presentation/d/1JU1ToBg-K7_vLC5bt2gEcEy3p12mCQG8CGELOP3vWvI/present#slide=id.g177d510c8_0342" class="btn btn-mini btn-info" title="See the Slides on Google Drive" target="_blank">Slides on Google Drive</a></h3>
            <p><strong>This question, and a few more, are best answered by the people who built it!</strong></p>
            <p>In this 30 minute quick tour you'll learn about the similarities to languages you know as well as the specifics that make Dart a full fledged platform for modern web development.<br><br></p>
            <iframe width="560" height="315" src="//www.youtube-nocookie.com/embed/FqsU3TbUw_s" frameborder="0" allowfullscreen style="max-width: 100%"></iframe>
        </div>
    </div>
    <div class="row"><hr></div>
    <div class="row">
        <div class="span6">
            <h3>Code labs</h3>
            <p>We've selected a few code labs you can work through at your own pace. You don't have to follow the order. Instead just pick what sounds most interesting to you.</p>
                
                <div class="well">
                    <span class="label label-success">Beginner</span> <span class="label">1 hour</span>
                    <h4>darrrt - Write your first Web App in Dart</h4>
                   <p>In this code lab, you build a pirate badge generator from a skeleton app. The sample app provides a brief look at some Dart language and library features. This code lab assumes that you have some programming experience.</p>
                   <p><a href="https://www.dartlang.org/codelabs/darrrt/" class="btn btn-primary">Start coding</a></p>
                </div>

                <div class="well">
                    <span class="label label-warning">Intermediate</span> <span class="label">1 hour</span>
                    <h4>Futures - Use Futures for asynchronous operations in Dart</h4>
                   <p>Dart is a single-threaded programming language. If any code blocks the thread of execution (for example, by waiting for a time-consuming operation or blocking on I/O) the program effectively freezes. Asynchronous operations let your program run without getting blocked. Dart uses a Future object to perform asynchronous operations.</p>
                   <p><a href="https://www.dartlang.org/docs/tutorials/futures/" class="btn btn-primary">Start coding</a></p>
                </div>

                <div class="well">
                    <span class="label label-warning">Intermediate</span> <span class="label">1 hour</span>
                    <h4>Streams - Use streams to handle sequences of data in Dart</h4>
                   <p>Whether running in the browser as part of the various HTML events, such as button.onClick, or on the server as part of the dart:io changes, Streams form a unified interface to anything that might send out a repeating series of data.</p>
                    <p>This article explains how to consume streams using this unified interface.</p>
                   <p><a href="https://www.dartlang.org/docs/tutorials/streams/" class="btn btn-primary">Start coding</a></p>
                </div>

                <div class="well">
                    <span class="label label-warning">Intermediate</span> <span class="label">1 hour</span>
                    <h4>Write Command-Line Apps in Dart</h4>
                   <p>This tutorial teaches you how to build command-line apps and shows you a few small command-line applications. These programs use resources that most command-line applications need, including the standard output, error, and input streams, command-line arguments, files and directories, and more.</p>
                   <p><a href="https://www.dartlang.org/docs/tutorials/cmdline/" class="btn btn-primary">Start coding</a></p>
                </div>

                <div class="well">
                    <span class="label label-warning">Intermediate</span> <span class="label">1 hour</span>
                    <h4>ng-darrrt - Write your first Web App in AngularDart</h4>
                   <p>In this one-hour code lab, you'll create an AngularDart web app that generates a pirate badge. (If you've already completed the first Dart code lab, this app should be familiar, but the code is completely different.)</p>
                   <p><a href="https://github.com/angular/ng-darrrt-codelab/blob/master/README.md#code-lab-angulardart" class="btn btn-primary">Start coding</a></p>
                </div>

                <div class="well">
                    <span class="label label-warning">Intermediate</span> <span class="label">1 hour</span>
                   <h4>Polymer intro - Create a custom HTML element using Polymer.dart</h4>
                   <p>A custom element is an HTML element you can define yourself, encapsulating appearance and/or behavior within semantically meaningful HTML.</p>
                   <p><a href="https://www.dartlang.org/docs/tutorials/polymer-intro/" class="btn btn-primary">Start coding</a></p>
                </div>

                <div class="well">
                    <span class="label label-warning">Intermediate</span> <span class="label">2 hours</span>
                    <h4>Game Store Codelab - Learn how to build a webapp with Dart and Polymer.</h4>
                   <p>The goal of this codelab is to develop a game store application. Users will be able to manage games in the store.<br>
                    Don't worry, HTML templates are provided ;)</p>
                   <p><a href="https://github.com/dartlangfr/game-store-codelab" class="btn btn-primary">Start coding</a></p>
                </div>

                <div class="well">
                    <span class="label label-important">Expert</span> <span class="label">2-3 hours</span>
                    <h4>Weigh Anchor: Deploy a Server and App</h4>
                   <p>In this code lab, you deploy an client application (web app) to the Heroku hosting service. This code lab focuses on the server-side programming aspect of this project.</p>
                   <p><a href="https://www.dartlang.org/codelabs/deploy/" class="btn btn-primary">Start coding</a></p>
                </div>
        </div>
        <div class="span6">
            <h3>Materials</h3>
            <p>Here's a list of useful links for learning material and cheat sheets:</p>

            <h4>Dart</h4>
            <ul>
                <li><a href="https://www.dartlang.org/dart-by-example/">Dart by Example</a></li>
                <li><a href="https://docs.google.com/file/d/0B0oVxewt0FNyRFJuZmU0eHoxME0/edit?hl=en&forcehl=1">Dart Quick Reference (PDF)</a></li>
                <li><a href="http://edumaven.com/dart-programming/">Introduction to Dart Programming</a></li>
                <li><a href="https://www.dartlang.org/samples/">Dart Code Samples</a></li>
                <li><a href="https://www.dartlang.org/docs/synonyms/">Dart idioms and snippets translated to JavaScript, Python, and C#</a></li>
                <li><a href="https://www.dartlang.org/tools/faq.html">Tools FAQ</a></li>
                <li><a href="https://www.dartlang.org/dart-tips/">Dart Tips: Short Video Tutorials</a></li>
                <li><a href="http://parleys.com/play/529c10a5e4b039ad2298ca0e/chapter0/about">Video: Mobile, multi-device, multi-player with HTML5 and Dart</a></li>
            </ul>
            <h4>AngularDart</h4>
            <ul>
                <li><a href="https://gist.github.com/damondouglas/9177537">AngularDart Check List</a></li>
                <li><a href="http://victorsavkin.com/post/72452331552/angulardart-for-angularjs-developers-introduction-to">AngularDart for AngularJS developers</a></li>
            </ul>
            <h4>Polymer.dart</h4>
            <ul>
                <li><a href="https://www.dartlang.org/polymer-dart/#examples">Polymer.dart Examples</a></li>
            </ul>
        </div>
     </div>   
</div>